* {
    margin: 0;
    padding: 0;
}
.main-container {
    width: 100%;
}
.title-text {
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    word-wrap: break-word;
    color: rgb(110, 135, 155);
}
.description-text {
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    word-wrap: break-word;
}
#mainBlockSvg {
    width: 100%;
    height: 100vh;
}
.line, .vertical-line {
    stroke: black;
    stroke-width: 3;
}
.resistance-lines {
    stroke: rgb(10, 75, 216);
    stroke-width: 3;
}
.resistance-lines:hover {
    stroke: rgb(255, 197, 6);
    stroke-width: 4;
    cursor: pointer;
}
.active-line {
    stroke: rgb(10, 75, 216);
    stroke-width: 3;
}
.active-line2:hover {
    stroke: rgb(153, 0, 255);
    stroke-width: 4;
}
.circle-A {
    fill: white;
    stroke: black;
    stroke-width: 3;
}
.letter-A {
    color: black;
}
.power-supply {
    fill: white;
    stroke: rgb(10, 75, 216);
    stroke-width: 2;
}
.power-supply:hover {
    stroke: rgb(255, 197, 6);
    stroke-width: 3;
}
.power-supply:last-child {
    fill: rgb(73, 0, 0);
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
}
.people-svg {
    width: 20%;
    height: 30%;
}
.label-vertical-lines {
    stroke: rgb(10, 75, 216);
}
.active-vertical-line {
    stroke: rgb(10, 75, 216);
    stroke-width: 3;
}
.active-vertical-line:hover {
    stroke: rgb(255, 197, 6);
    stroke-width: 4;
    cursor: pointer;
}
#arrow:hover {
    fill: rgb(255, 197, 6);
}
.vertical-only-black-line {
    stroke:black;
    stroke-width: 3;
}
.vertical-black-line-circle {
    fill: black;
    stroke: black;
    stroke-width: 2;
}
.rectBlockElectrical {
    fill: white;
    stroke: black;
    stroke-width: 3;
}